body {
	background-image:url(bg.gif);
	padding:0px;
	margin:20px;
	font-size:0.8em;
	font-family:sans-serif;
}

a {
	color:#003b68;
}

input, textarea{
	border-right:1px #ababab solid;
	border-bottom:1px #ababab solid;
	border-left:1px #656565 solid;
	border-top:1px #656565 solid;
	font-size:12px;
	background-color:#fafafa;
}

input[type=submit], input[type=reset], input[type=button] {
	border-right:1px #656565 solid;
	border-bottom:1px #656565 solid;
	border-left:1px #ababab solid;
	border-top:1px #ababab solid;
	font-size:12px;
	background-color:#dedede;
}

#wrapper {
	width:650px;
	margin:0px auto;
	border:1px #000000 solid;
	background-color:#ffffff;
}

#header {
	background-color:#2d73af;
	padding:5px;
	height:50px;
	border-top:5px #083760 solid;
	border-bottom:5px #083760 solid;
}

#logo {
	margin-top:7px;
}

#content {
	padding:5px;
}