body {
	margin:0px;
	padding:0px;
	background: #9a9a9a;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:84%;
	line-height:145%;
	color:#353535;
}

a {
	color:#1e4b76;
}

a:hover {
	text-decoration:none;
}

ul {
	list-style-image: url(html/images/bullet.gif);
}

ul li ul {
	padding-left:15px;
}

ol {
	list-style-image:none;
}

form {
	margin:0px;
	padding:0px;
}

input, textarea {
	border-right:1px #ababab solid;
	border-bottom:1px #ababab solid;
	border-left:1px #656565 solid;
	border-top:1px #656565 solid;
	font-size:12px;
	background-color:#fafafa;
}

textarea, table, fieldset {
	margin:0px;
	width:98%;
}

input[type=submit], input[type=reset], input[type=button] {
	border-right:1px #656565 solid;
	border-bottom:1px #656565 solid;
	border-left:1px #ababab solid;
	border-top:1px #ababab solid;
	font-size:12px;
	background-color:#dedede;
	margin:0px;
}

#content p {
	margin-top:10px;
	margin-bottom:10px;
}

#wrapper {
	width:90%;
	margin:0px auto;
	background:#ffffff;
}

#header {
	height:78px;
	background-image: url(images/bg_header.gif);
	border-bottom:5px #3370a4 solid;
	border-top:5px #104572 solid;
}

#menu {
	margin:0px;
	padding:4px;
	width:160px;
	font-size:85%;
	float:left;
	background:#f1f1f1;
	border:1px #cdcdcd solid;
}

#menu ul {
	margin:0px;
	padding-left:20px;
}

#menu ul li ul {
	padding-left:10px;
}

#menu h1 {
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	font-size:1em;
	font-weight:bold;
	color:#000000;
	border-bottom:1px #bcbcbc solid;
}

#content {
	padding:5px;
	padding-left:7px;
	margin-left:170px;
}

#content h1 {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-top:5px;
	font-size:1.6em;
	color: #00375e;
	font-weight:bold;
	border-bottom: 1px #dedede solid;
}

#content h2 {
	margin:0px;
	padding:0px;
	margin-bottom:8px;
	font-size:1.3em;
	color: #000000;
	font-weight:bold;
	border-bottom: 1px #dedede solid;
}
#content h3 {
	margin:0px;
	padding:0px;
	margin-bottom:6px;
	font-size:1.2em;
	color: #000000;
	font-weight:bold;
}

/* Misc. elements */
#content div.inline-message {
	margin-top:10px;
	margin-bottom:10px;
	padding:2px;
	background-color:#ffe293;
	border:1px #ddc071 solid;
}

#content div.form-errors {
	padding:4px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px #ababab solid;
	background-color:#fafafa;
}

fieldset {
 background-color:#fafafa;
 border:1px #cdcdcd solid;
 padding:4px;
 margin-bottom:10px;
}

fieldset legend {
 background-color:#e0ecfd;
 border:1px #cdcdcd solid;
 font-weight:bold;
}

td.td-head {
 border-bottom:1px #083760 solid;
 color:#083760;
 font-weight:bold;
 padding:3px;
}

td.td-first {
 padding:3px;
 border-right:1px #ababab solid;
 border-bottom:1px #efefef solid;
}

td.td-cell {
 padding:3px;
 border-right:1px #ababab solid;
 border-bottom:1px #efefef solid;
}

td.td-last {
 padding:3px;
 border-bottom:1px #efefef solid;
}

span.light-grey {
 color:#676767;
 font-style:italic;
}

span.small-grey {
 color:#676767;
 font-size:84%;
}

span.highlight {
	font-weight: bold;
	background-color:#fffca4;
	color:#000000;
}

small {
	font-size:84%;
}

tt {
	font-size:1.1em;
}

pre {
	background-color:#fafafa;
	border:1px #cdcdcd solid;
	font-size:1.1em;
	font-family:monospace;
	overflow:auto;
	width:97%;
	padding:4px;
}

span.req-ok {
	font-weight:bold;
	color:#007800;
}

span.req-failed {
	font-weight:bold;
	color:#780000;
}

div.next-step {
	width:98%;
	margin-top:20px;
	text-align:right;
}

div.next-step a {
	background-color:#efefef;
	border:1px #798da7 solid;
	padding:4px;
	text-decoration:none;
}

div.next-step a:hover {
	background-color:#beccdf;
}