body {
	margin:0px;
	padding:0px;
	background: #9a9a9a;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:84%;
	line-height:145%;
	color:#353535;
}

a {
	color:#1e4b76;
}

a:hover {
	text-decoration:none;
}

a img {
	border:none;
}

ul {
	list-style-image: url(images/bullet.gif);
}

ul li ul {
	padding-left:15px;
}

ol {
	list-style-image:none;
}

form {
	margin:0px;
	padding:0px;
}

input, textarea {
	border-right:1px #ababab solid;
	border-bottom:1px #ababab solid;
	border-left:1px #656565 solid;
	border-top:1px #656565 solid;
	font-size:12px;
	background-color:#fafafa;
}

textarea, table, fieldset, pre {
	margin:0px;
	width:97%;
}

input[type=submit], input[type=reset], input[type=button] {
	border-right:1px #656565 solid;
	border-bottom:1px #656565 solid;
	border-left:1px #ababab solid;
	border-top:1px #ababab solid;
	font-size:12px;
	background-color:#dedede;
	margin:0px;
}

#wrapper {
	width:90%;
	margin:0px auto;
	background:#ffffff;
}

#header {
	height:78px;
	background-image: url(images/bg_header.gif);
	border-bottom:5px #3370a4 solid;
	border-top:5px #104572 solid;
}

#logo {
	float:left;
}

#searchbox {
	margin-top:30px;
	margin-right:15px;
	text-align:right;
}

#searchbox a {
	color: #ffffff;
	margin-right:100px;
}

#menu {
	margin:0px;
	padding:4px;
	width:160px;
	font-size:85%;
	float:left;
	background:#f1f1f1;
	border:1px #cdcdcd solid;
}

#menu p {
	margin:0px;
	margin-bottom:10px;
}

#menu ul {
	margin:0px;
	padding-left:20px;
}

#menu ul li ul {
	padding-left:10px;
}

#menu h1 {
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	font-size:1em;
	font-weight:bold;
	color:#000000;
	border-bottom:1px #bcbcbc solid;
}

#content {
	padding:5px;
	padding-left:180px;
}

#content p {
	margin-top:10px;
	margin-bottom:10px;
}

#content h1 {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:1.6em;
	color: #00375e;
	font-weight:bold;
	border-bottom: 1px #dedede solid;
}

#content h2 {
	margin:0px;
	padding:0px;
	margin-top:8px;
	margin-bottom:8px;
	font-size:1.3em;
	color: #000000;
	font-weight:bold;
	border-bottom: 1px #dedede solid;
}
#content h3 {
	margin:0px;
	padding:0px;
	margin-top:6px;
	margin-bottom:6px;
	font-size:1.2em;
	color: #000000;
	font-weight:bold;
}

#page-cmds {
	margin-top:20px;
	padding:4px;
	font-size:85%;
	border-top:1px #cdcdcd solid;
}

#page-cmds a {
	text-decoration:none;
}

#page-cmds a:hover {
	text-decoration:underline;
}

/* Misc. elements */
#content div.inline-message {
	margin-top:10px;
	margin-bottom:10px;
	padding:2px;
	background-color:#ffe293;
	border:1px #ddc071 solid;
}

#content div.form-errors {
	padding:4px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px #ababab solid;
	background-color:#fafafa;
}

fieldset {
	background-color:#fafafa;
	border:1px #cdcdcd solid;
	padding:4px;
	margin-bottom:15px;
}

fieldset legend {
	background-color:#e0ecfd;
	border:1px #cdcdcd solid;
	font-weight:bold;
}

td {
	padding:3px;
}

td.td-head {
	border-bottom:1px #083760 solid;
	color:#083760;
	font-weight:bold;
	padding:3px;
}

td.td-first {
	padding:3px;
	border-right:1px #ababab solid;
	border-bottom:1px #efefef solid;
}

td.td-cell {
	padding:3px;
	border-right:1px #ababab solid;
	border-bottom:1px #efefef solid;
}

td.td-last {
	padding:3px;
	border-bottom:1px #efefef solid;
}

td.td-box {
	background:#fafafa;
	border:1px #efefef solid;
	text-align:center;
	vertical-align:middle;
}

span.light-grey {
	color:#676767;
	font-style:italic;
}

span.small-grey {
	color:#676767;
	font-size:84%;
}

span.highlight {
	font-weight: bold;
	background-color:#fffca4;
	color:#000000;
}

small {
	font-size:84%;
}

/* Wiki markups */
div.wiki-toc {
	padding:4px;
	background-color:#fafafa;
	border:1px #efefef solid;
	font-weight:bold;
}

div.wiki-toc ol li {
	font-weight:normal;
}

div.wiki-toc a {
	text-decoration:none;
	font-weight:normal;
}

div.wiki-toc a:hover {
	text-decoration:underline;
}

table.img-framed {
	padding:0px;
	margin:5px;
	background-color:#fafafa;
	border:1px #efefef solid;
	color:#000000;
	font-size:84%;
	width:1%;
}

table.img-framed tr td {
	padding:1px;
}

table.file-framed {
	padding:0px;
	margin:5px;
	background-color:#fafafa;
	border:1px #efefef solid;
	color:#000000;
	font-size:84%;
	width:auto;
}

table.file-framed tr td {
	padding:1px;
}

table.file-framed tr td img {
	float:left;
	margin-right:5px;
}

#message-end {
	width:500px;
	margin:250px auto;
}

span.wiki-underline {
	text-decoration:underline;
}

span.wiki-strike {
	text-decoration:line-through;
}

tt {
	font-size:1.1em;
}

pre {
	background-color:#fafafa;
	border:1px #cdcdcd solid;
	font-size:1.1em;
	font-family:monospace;
	overflow:auto;
	padding:4px;
}

a.wiki-internal {
	color:#1e4b76;
}

a.wiki-create {
	color:#e70000;
}

a.wiki-interwiki {
	color:#1e4b76;
}

a.wiki-external {
	color:#1e4b76;
}

div.wiki-centered {
	text-align:center;
}

div.wiki-right {
	text-align:right;
}